@tailwind base;
@tailwind components;
@tailwind utilities;
.border-1 {
  border: 1px solid red;
}
.borderButton {
  border: 1px solid black;
}
.boderDotted {
  border: 2px dashed #1c1a1a;
  padding: 1rem 2rem;
  border-radius: 5px;
}
